:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg-clr: rgba(0,0,0,1);
  --side-bg-clr: rgba(23,24,28,1);

  --primary-btn-clr: rgba(28,155,240,1);
  --secondary-btn-clr: rgba(234,236,236,1);

  --primary-text-clr: rgba(234,236,236,1);
  --secondary-text-clr: rgba(125,125,125,1);
  --link-clr: rgba(28,155,240,1);

  --search-bar-bg-clr: rgba(32,36,39,1);
  --search-placeholder-txt-clr: rgba(68,72,75,1);

  --boder-clr: rgba(36,36,36,1);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Remove default padding */
ul, ol {
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations/transitions for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}